:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --other-black: #282623;
    --DM-Sans: 'DM Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--DM-Sans);
}

section{
    background-color: #E5E5E5;
}

.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 33.4rem; 
    background-image: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__contenedor-texto{
    position: absolute;
    top: 39.5%;
    width: 90%;
    text-align: center;
}

.header__titulo{
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

.header__logo{
    width: 52%;
    position: absolute;
    top: 24%;
}

.header__texto{
    margin-top: 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--soft-orange);
}

.header__enlace{
    font-weight: 700;
    position: absolute;
    bottom: -1.9rem;
    font-size: 1.4rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: #FAF8F7;
    padding: 1.2rem 1.6rem;
}

.header__icono-boton{
    display: inline-block;
    background-image: url('../assets/icons/keydown.svg');
    height: 1.8rem;
    width: 2.4rem;
}

.Monedas{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 6.1rem;
}

.Monedas__contenedor-bitcoin{
    margin-top: 5.9rem;
}

.Monedas__descripcion{
    font-family: var(--DM-Sans);
    font-weight: 700;
    line-height: 2.6rem;
    font-size: 2.4rem;
    width: 90%;
    text-align: center;
    margin-top: 4rem;
}

.Monedas__descripcion-extensa{
    margin-top: 2.4rem;
    font-family: var(--DM-Sans);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 90%;
    text-align: center;
    color: #757575;
}

.tabla__tabla-xd{
    margin: 0 auto;
}

.tabla__icono-precio{
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
}

.tabla__icono-precio--bitcoin{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.tabla__icono-precio--ethereum{
    background-image: url(../assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla__icono-precio--ripple{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla__icono-precio--stellar{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

td{
    font-family: var(--Inter);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    width: 29%;
    height: 3.9rem;
    background-color: #FFFFFF;
    text-align: center;
}

.tabla__titulo{
    font-family: var(--DM-Sans);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FF9536;
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

.tabla__titulo--comisiones{
    color: #1A9AF7;
}

.tabla__celda-moneda{
    width: 31%;
    font-weight: 500;
}

.tablas{
    width: 61.5%;
}

.tabla__actualizacion{
    margin-top: 1.6rem;
    font-family: var(--Inter);

    font-size: 1.2rem;
    background-color: var(--soft-orange);
    padding: 0.8rem;
    border-radius: 8px;
    text-align: center;
}

.tabla__celda-moneda--superior{
    border-top-left-radius: 18px;
}

.tabla__celda-costo--superior{
    border-top-right-radius: 18px;
}

.tabla__celda-moneda--inferior{
    border-bottom-left-radius: 18px;
}

.tabla__celda-costo--inferior{
    border-bottom-right-radius: 18px;
}

/* Seccion información*/

.informacion{
    background-color: var(--warm-black);
    color: #FFFFFF;
    font-family: var(--DM-Sans);
    position: relative;
    padding-top: 5.1rem;
    padding-bottom: 4.2rem;
}

.informacion__titulo{
    margin-bottom: 3.2rem;
}

.informacion__encabezado-principal{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.informacion__descripcion-sencilla{
    color: #808080;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
}

.informacion__papa{
    width: 40px;
    position: absolute;
    top: -1rem;
    right: calc(50% - 20px);
}

/* Cajas */

.caja{
    background-color: #282623;
    width: 28.8rem;
    height: 15.2rem;
    margin: auto;
    margin-bottom: 1.6rem;
    text-align: justify;
}

.caja__titulo{
    width: 90%;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin: auto;
}

.caja__descripcion{
    width: 90%;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: auto;
    margin-top: 1rem;
    color: #808080;
}

.caja__logo{
    width: 24px;
    height: 24px;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
    margin-bottom: 1rem;
}

.planes{
    background-color: #E5E5E5;;
}

.planes__imagen-fondo{
    height: 60vh;
    background-image: url('../assets/imgs/bitcoinbaby.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.planes__titulo{
    font-weight: 700;
    font-size: 2.4rem;
    color: #FFFFFF;
    text-align: center;
    padding-top: 6.4rem;
}

.planes__informacion{
    width: 90%;
    margin: 0 auto;
    margin-top: 6.4rem; 
    text-align: center;
}

.planes__opciones{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin-bottom: 2.4rem;
}

.planes__descripcion{
    font-weight: 500;
    font-size: 1.4rem;
    color: #757575;
    line-height: 1.8rem;
}

.precios{
    width: 59%;
    max-width: 300px;
    color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 20px;
    margin-top: 5rem;
    position: relative;
    flex-shrink: 0;
    scroll-snap-align: center;
    
}

.precios__titulos{
    font-weight: 700;
    font-family: var(--Inter);
    font-size: 1.2rem;
    color: #FFFFFF;
    background-color: var(--bitcoin-orange);
    width: 53%;
    padding: 8px 0;
    text-align: center;
    border-radius: 8px;
    position: absolute;
    top: -16px;
}

.precios__periodo{
    font-size: 1.4rem;
    font-weight: 500;
    color: #000000;
    margin-top: 31px;
}

.precios__costos{
    font-family: var(--Inter);
    font-weight: 700;
    font-size: 4.2rem;
    color: #000000;
    margin-top: 8px;
}

.precios__costos-sup{
    font-size: 1.2rem;
}

.precios__ahorro{
    font-weight: 500;
    font-family: var(--Inter);
    font-size: 1.2rem;
    color: #757575;
    width: 83%;
    margin-top: 16px;
}
.boton{
    display: flex;
    margin-top: 16px;
    align-items: center;
    border: 3px solid var(--bitcoin-orange);
    font-size: 1.4rem;
    color: var(--warm-black);
    width: 79.5%;
    padding: 15px 10px;
    justify-content: center;
    margin-bottom: 24px;
    border-radius: 4px;
}
.boton__logo{
    display: inline-block;
    background-image: url('../assets/icons/arrow-right.svg');
    margin-left: 16px;
    height: 20px;
    width: 20px;
}

.planes{
    padding-bottom: 50px;

}

.contenedor-tarjetas{
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
}
footer{
    height: 150px;
    width: 100%;
    background-color: var(--bitcoin-orange);
    color: #FFFFFF;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
}

footer section{
    background-color: var(--bitcoin-orange);
}

.footer__redes-sociales li{
    list-style: none;
    margin-top: 8px;
}
.footer__redes-sociales a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
}
