:root{
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --other-black: #282623;
    --DM-Sans: 'DM Sans', sans-serif;
    --Inter: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: var(--DM-Sans);
}

.header{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 33.4rem; 
    background-image: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__contenedor-texto{
    position: absolute;
    top: 39.5%;
    width: 90%;
    text-align: center;
}

.header__titulo{
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

.header__logo{
    width: 52%;
    position: absolute;
    top: 24%;
}

.header__texto{
    margin-top: 2.4rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--soft-orange);
}

.header__enlace{
    font-weight: 700;
    position: absolute;
    bottom: -1.9rem;
    font-size: 1.4rem;
    color: var(--warm-black);
    text-decoration: none;
    background-color: #FAF8F7;
    padding: 1.2rem 1.6rem;
}

.header__icono-boton{
    display: inline-block;
    background-image: url('../assets/icons/keydown.svg');
    height: 1.8rem;
    width: 2.4rem;
}

.Monedas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Monedas__contenedor-bitcoin{
    margin-top: 5.9rem;
}

.Monedas__descripcion{
    font-family: var(--DM-Sans);
    font-weight: 700;
    line-height: 2.6rem;
    font-size: 2.4rem;
    width: 90%;
    text-align: center;
    margin-top: 4rem;
}

.Monedas__descripcion-extensa{
    margin-top: 2.4rem;
    font-family: var(--DM-Sans);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    width: 90%;
    text-align: center;
    color: #757575;
}

.tabla__icono-precio{
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
}

.tabla__icono-precio--bitcoin{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


.tabla__icono-precio--ethereum{
    background-image: url(../assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla__icono-precio--ripple{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tabla__icono-precio--stellar{
    background-image: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

td{
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    width: 29%;
    height: 3.9rem;
    background-color: #FFFFFF;
}

.tabla__titulo{
    font-family: var(--DM-Sans);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: #FF9536;
    margin-top: 4.8rem;
    margin-bottom: 1.2rem;
}

.tabla__celda-moneda{
    width: 31%;
}

.tablas{
    width: 61.5%;
}

.tabla__actualizacion{
    margin-top: 1.6rem;
    color: var(--warm-black);
    font-family: var(--Inter);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: var(--soft-orange);
    padding: 0.8rem;
    border-radius: 8px;
    text-align: center;
}